body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h5 a {
  font-family: 'Arvo Gruen', sans-serif;
  font-weight: bold;
  color: #ffee00;
  text-transform: uppercase;
}

.header {
  background-color: #46962b;
}

.icon {
  width: 32px;
  height: 32px;
  font-size: 24px;
}
.screenshot {
  border: 1px solid #ccc;
}

.siteicon {
  max-width: 32px;
  max-height: 32px;
  width: auto;
  height: auto;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;
}