.ResultsTable {
  text-align: center;
  font-size: 0.8rem;
}

.ResultsTable .bad {
  color: #ae4b53;
  background-color: #d7b0ae;
  font-size: 1rem;
}
.ResultsTable .mediocre {
  color: #c49863;
  background-color: #e3d9ba;
  font-size: 1rem;
}
.ResultsTable .good {
  color: #46962b;
  background-color: #bcd9b3;
  font-size: 1rem;
}

.ResultsTable td.text {
  font-size: 0.8rem;
}

.ResultsTable a.screenshot {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
