.ResultsTable {
  text-align: center;
  font-size: 0.8rem;
}

.ResultsTable td.text {
  font-size: 0.8rem;
}

.ResultsTable a.screenshot {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
