.SiteDetailsPage .bad {
  color: #ae4b53;
  font-size: 1rem;
}
.SiteDetailsPage .mediocre {
  color: #c49863;
  font-size: 1rem;
}
.SiteDetailsPage .good {
  color: #46962b;
  font-size: 1rem;
}
.SiteDetailsPage h1 {
  margin-top: 2rem;
  font-family: 'Arvo', sans-serif;
}

.SiteDetailsPage .URLField {
  font-size: 120%;
}

.SiteDetailsPage {
  margin-bottom: 3rem;
}
.SiteIcon {
  margin-right: 0.6rem;
}

.SiteDetailsPage h3 {
  font-family: Arvo, sans-serif;
  margin-top: 1.5rem;
}

.SiteDetailsPage .icon {
  padding-right: 0.4rem;
}

.CMSInfo.placeholder {
  color: #999;
}

.SiteDetailsPage .support-link {
  margin-top: 1rem;
}
